@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400;900&display=swap");

body {
  margin: 0;
}

.top-nav {
  display: flex;
  background-color: DodgerBlue;
  flex-direction: row;
  justify-content: space-between;
  height: 40%;
}
.nav-logo > img {
  width: 30%;
  height: 60%;
  border-radius: 20%;
  border: 1px solid darkcyan;
}

.top-nav > div {
  margin: 1%;
}

.nav-options {
  display: flex;
  justify-content: flex-end;
}
.nav-options-container {
  width: 70%;
}
.nav-options > li {
  list-style-type: none;
  margin-right: 2%;
  color: white;
}

.nav-options > li > h3 {
  margin: 0;
  padding: 0;
}

.bio-body {
  display: flex;
  justify-content: space-between;
  margin: 5%;
  margin-bottom: 0%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(228, 223, 223);
  padding: 3%;
}
.bio-body > div {
  width: 50%;
  align-self: flex-start;
  margin-left: 20%;
}
.bio-body-div-1 {
  margin-top: 3%;
  padding: 3%;
}

.bio-body-div-children {
  margin: 0;
  padding: 0;
  line-height: 0;
  font-family: "Unbounded", cursive;
  color: rgba(5, 94, 237, 0.933);
}

.bio-body-div-1 > h1 {
  font-family: "Poppins", sans-serif;
  margin-top: 10%;
  color: rgba(33, 2, 63, 0.966);
  font-weight: normal;
}

.bio-body-div-1 > h3 {
  font-family: "Unbounded", cursive;
  color: rgba(33, 2, 63, 0.966);
}
.bio-body-div-1 > p {
  font-family: "Unbounded", cursive;
  color: rgba(33, 2, 63, 0.966);
}

.bio-body-btn-dowload {
  width: 50%;
  height: 50%;
  padding: 2%;
  margin: 1%;
  background-color: dodgerblue;
  color: white;
  border-radius: 20%;
}

.bio-body-btn-contact {
  width: 50%;
  height: 50%;
  padding: 2%;
  margin: 1%;
  background-color: dodgerblue;
  color: white;
  border-radius: 20%;
}

.div-button {
  display: flex;
  justify-content: space-between;
  margin: 0%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -3%;
  padding-left: 1%;
  padding-right: 1%;
  width: 50%;
  background-color: white;
  border: 1px solid white solid;
  border-radius: 50px 50px 50px;
  box-shadow: 20px 20px 50px 15px whitesmoke;
}

.div-button > div {
  margin-left: 3%;
  margin-right: 3%;
}

.value {
  font-family: "Unbounded", cursive;
  color: rgba(33, 2, 63, 0.966);
}

.key {
  color: dodgerblue;
  font-family: "Unbounded", cursive;
}

.My-Intro {
  display: flex;
  margin: 5%;
  margin-left: 30%;
  margin-right: 30%;
}

.My-Intro-Img > img {
  width: 100%;
  height: 100%;
  margin-left: 2%;
}
